<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="content">
        <h2>Oops!! Page Not Found</h2>
        <nav>
            <a href="/">Go Back to Home Page</a>
        </nav>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>